{% extends "::base.html.twig" %}

{% block title %}AppBundle:myUser:main{% endblock %}

{% block body %}
<h1>Welcome to the myUser:main page</h1>
    Data zamównienia samochodu -> {{ car.dataZamowienia }} </br>
    Przybliżony termin realizacji {{ carTranslated.ifa }} Tydzień roku
{% endblock %}
